@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Momo+Signature&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.bebas-neue-content {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}